    .bg{
   
    background-color: #0ACDFF;
    color:rgb(255, 255, 255);
    border-radius:70px ;
    width: 65px;
    height: 65px;
    display:  flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-bottom: 4;
    padding: auto;
}
.bg:hover{
   
    background-color: #0ACDFF;
    color:rgb(255, 255, 255);
    border-radius:70px ;
    width: 80px;
    height: 80px;
    display:  flex;
    align-items: center;
    justify-content: center;
    transition: 0.7s;
}
    